// Import of partial files
@import 'config/variables';
@import 'base/base';
// @import 'theme/theme';
@import 'layout/layout';
@import 'components/_about';
@import 'components/_award';
@import 'components/_blog';
@import 'components/_carrer';
@import 'components/_cases';
@import 'components/_clients';
@import 'components/_contact';
@import 'components/_experience';
@import 'components/_footer';
@import 'components/_header';
@import 'components/_home';
@import 'components/_mediaqueries';
@import 'components/_scroll';

