/*=============== FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@font-face {
  font-family: "Futura";
  src: url("../../fonts/Futura-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("../../fonts/Futura-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("../../fonts/Futura-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --black: #000000;
  --white: #ffffff;
  --purple-light: #d5d5f2;
  --yellow-light: #f7dbad;
  --green-light: #c3e3e2;
  --red-light: #e5bec0;
  --blue-light: #b2d7eb;
  --purple-dark: #3F2A5A;
  --yellow-dark: #A76D12;
  --green-dark: #0D5968;
  --red-dark: #973161;
  --blue-dark: #005692;
  /*========== Font and typography ==========*/
  --body-font: "Futura", Arial, sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-light: 100;
  --font-book: 400;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white);
  color: var(--black);
  transition: 0.5s;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 1rem;
}
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blob {
  fill: var(--first-color-light);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.title-section {
  font-size: 2rem;
  text-transform: uppercase;
}

.title-btn {
  font-size: 2rem;
}

/*=============== ABOUT ===============*/
.about {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about__logo-title {
  display: flex;
  padding-top: 150px;
}
.about__logo {
  margin-left: 240px;
  display: flex;
  width: 115px;
  height: 200px;
}
.about__title {
  font-size: 2.5rem;
  align-items: center;
  display: flex;
  margin-left: 100px;
}
.about__text {
  font-size: 1.5rem;
  text-align: justify;
  padding: 100px 240px 150px 240px;
}

/*=============== AWARD ===============*/
.award {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.award__title {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
}
.award__title span {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.award__title h2 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
}
.award__title h2:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  content: "";
  width: 500px;
  height: 100px;
  background-color: var(--yellow-light);
}
.award__types {
  height: 30vh;
  width: 100%;
  background-color: var(--yellow-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.award__types img {
  width: 200px;
  height: 150px;
}

/*=============== BLOG ===============*/
.blog {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.blog h3 {
  color: var(--green-dark);
}
.blog .btn {
  color: var(--green-dark);
}
.blog__content {
  padding: 100px 0 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.blog__content-data {
  position: relative;
}
.blog__content-data div {
  padding: 20px 0;
  width: 70%;
  position: absolute;
  top: 270px;
  left: 0;
  background-color: var(--white);
}
.blog__content-data div span {
  font-size: 0.7rem;
}
.blog__content-data div h3 {
  font-size: 2rem;
}

/*=============== CARRER ===============*/
.carrer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green-dark);
}
.carrer h3 {
  color: var(--white);
}
.carrer__data {
  padding: 100px 0;
}
.carrer__data p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--white);
  max-width: 1400px;
  text-align: center;
  font-weight: lighter;
}

/*=============== CASES ===============*/
.cases {
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.cases__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../../../assets/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}
.cases__title {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 70vh;
  width: 100%;
  color: var(--black);
  font-size: 2rem;
  text-transform: uppercase;
}
.cases__title h2 {
  color: var(--white);
}
.cases__projects {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue-dark);
  height: 30vh;
  color: var(--white);
  font-size: 2rem;
}
.cases__projects a {
  color: var(--white);
}

/*=============== CLIENTS ===============*/
.clients {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--red-dark);
}
.clients .title-section {
  color: var(--white);
}
.clients__logos {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
}

/*=============== CONTACT ===============*/
.contact {
  height: 100vh;
  width: 100%;
  display: flex;
}
.contact__text {
  background-color: var(--purple-dark);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
  padding: 200px 120px;
}
.contact img {
  width: 300px;
}
.contact h6 {
  padding-top: 300px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.contact p {
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.contact span {
  padding-top: 80px;
  font-size: 1rem;
}
.contact__form {
  background-color: var(--purple-light);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--black);
  padding: 200px 120px;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
.contact__form form input {
  font-size: 1.2rem;
  color: var(--purple-dark);
  margin-bottom: 20px;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  border-bottom: solid 2px var(--purple-dark);
}
.contact__form h3 {
  color: var(--purple-dark);
  margin-bottom: 50px;
}
.contact button {
  border-color: var(--purple-dark);
  color: var(--purple-dark);
}

/*=============== EXPERIENCE ===============*/
.experience {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-light);
}
.experience__skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.experience__data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.experience__data h3 {
  z-index: 2;
  position: relative;
  font-size: 6rem;
  font-weight: bold;
}
.experience__data p {
  max-width: 500px;
}

/*=============== FOOTER ===============*/
.footer {
  padding: 50px 0;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  max-width: 150px;
}

/*=============== HEADER ===============*/ /*=============== HOME ===============*/
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home__color {
  background-color: var(--purple-light);
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -9;
}
.home__logo img {
  max-width: 300px;
}
.home__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  background-size: cover;
}
.home__more {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__more i {
  margin-top: 10px;
  font-size: 2rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* For medium devices */
/* For large devices */
/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background: var(--first-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--first-color);
  opacity: 1;
}
.scrollup__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: transparent;
  border: 5px solid var(--white);
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 20px 60px;
  text-transform: uppercase;
}
button i {
  margin-left: 10px;
  font-size: 2rem;
}

.btn {
  color: var(--green-dark);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn i {
  margin-left: 10px;
  font-size: 2rem;
}/*# sourceMappingURL=styles.css.map */